*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.main{
   width:100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(race-trck));
    background: position 50px;
    background-size: cover;
    height:100vh;
} 

.logo{
color: red;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
}

ul li{
    padding: 5px;
    list-style:none ;
margin-left: 70px;
margin-top: 27px;
font-size: x-large;
}

ul li a{
    text-decoration: wavy;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}


ul li a:hover{
    color: red;
}


    .card {
      width: 300px;
      height: 30%;
      margin: 20px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      cursor:pointer;
    }

    .card img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }

    .card-details {
      padding: 20px;
    }





.search-container{
    display: flex;
    align-items:baseline;
    margin: left 100px;
}

.search-container input{
    padding: 8px;
    border:1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-container button{
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
}

